// Place all the styles related to the Employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  padding: 20px;
}

#form-grid{
  display: grid;
  grid-template-columns: 100px 300px;
}

table{
  min-width: 500px;
  text-align: left;
}
